@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.eot?") format("eot"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg");
}

html,
body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 10;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.preloading {
    color: #00A69C;
    display: block;
    font-size: 1.5rem;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

select::-ms-expand {
    display: none;
}

@media screen and (min-width: 992px) {
    .form-input {
        max-width: 360px;
        width: 360px;
    }
}

.form-input {
    border-radius: 0;
    height: 45px;
    padding: 10px;
}

.form-input-small {
    max-width: 100px !important;
}

.form-input-medium {
    width: 150px !important;
}

.alert {
    padding-left: 0;
}

.alert-danger {
    background-color: transparent;
    border: 0;
    color: #FB0D0D;
    font-size: 12px;
}

a,
a:active,
a:hover,
a:visited {
    color: #000;
    text-decoration: none;
    transition: color 0.35s;
}

    a:hover,
    a:active {
        color: #75B918;
        transition: color 0.35s;
    }


.show-concierge {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 10;
    box-shadow: 0 2px 7px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-image: url('/images/concierge.png');
    background-size: contain;
    width: 5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f3f4f3;
    transition: transform ease-out 0.2s;
    border: 2px solid transparent;
}

    .show-concierge:hover {
        border-color: #49b4fe;
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 0 2px 7px 2px rgba(0,0,0,0.4);
    }

    .show-concierge:active {
        transform: scale(1.1);
        transition: transform ease-out 0.01s;
    }

.concierge {
    position: fixed;
    right: -30rem;
    bottom: 2rem;
    width: 25rem;
    height: 35rem;
    padding: 0;
    z-index: 10;
    border-radius: 0.5rem;
    box-shadow: 0 2px 7px 2px rgba(0,0,0,0.2);
    background-color: #f3f4f3;
    transform: translateX(0rem);
    transition: transform ease-in-out 0.25s;
    will-change: transform;
}

    .concierge.visible {
        transform: translateX(-31rem);
    }

    .concierge .hide-concierge {
        border: none;
        background-color: #5c5c5c;
        color: white;
        position: absolute;
        top: 0.25rem;
        right: 0.18rem;
        border-radius: 0.35rem;
        width: 2rem;
        height: 2rem;
        z-index: 10;
    }

    .concierge iframe {
        position: relative;
        height: 100%;
        width: 100%;
    }
